.wrapper {
  position: relative;
}

.input {
  border: none;
  padding: 10px 20px;
  width: 100%;
  background: var(--medium);
  color: var(--dark);
}

.textarea {
  resize: none;
  height: 75px;
}

.input:focus {
  outline: 2px solid var(--accent);
}

.input__error {
  position: absolute;
  top: -16px;
  color: var(--accent);
  font-size: 10px;
}
