.header {
  margin-bottom: 40px;
  background-color: var(--dark);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header__logo {
  margin-bottom: -20px;
}

.header__nav {
  display: flex;
  gap: 30px;
}

.header__nav > * {
  color: var(--light);
  font-size: 20px;
}

.header__icons {
  display: flex;
  gap: 20px;
}

@media (max-width: 1024px) {
  .header__nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}
